@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<h2>Combos</h2>
<h3>
    Drink is Water
</h3>
<h3>
    Side is Cane Sugar
    Potato
    Salt
    Vegetable Oil
</h3>
<div class="content">
    <div class="menu-item">
        @for (int i = 0; i < Model.Menu.AvailableCombos.Count; i++)
        {
            <div class="row">


                <p>@Model.Menu.AvailableCombos[i].ToString():</p>
                <ul>
                    <li>
                        Calories: @Model.Menu.AvailableCombos[i].Calories;
                    </li>

                    <li>
                        Price:   @Model.Menu.AvailableCombos[i].Price;
                    </li>

                    <ul>
                        @for (int j = 0; j < Model.Menu.AvailableCombos[i].Ingredients.Count; j++)
                        {

                            <li>@Model.Menu.AvailableCombos[i].Ingredients[j].ToString()  </li>

                        }
                    </ul>
                </ul>
            </div>
        }

        <h2>Entrees</h2>


        @for (int i = 0; i < Model.Menu.AvailableEntrees.Count; i++)
        {
            <div class="row">
                <ul>
                    <li>
                        @Model.Menu.AvailableEntrees[i].ToString();

                    </li>
                    <li>
                        Calories:   @Model.Menu.AvailableEntrees[i].Calories;
                    </li>
                    <li>
                        Price:    @Model.Menu.AvailableEntrees[i].Price;
                    </li>
                </ul>
            </div>
        }


        <h2>Sides</h2>

        @for (int i = 0; i < Model.Menu.AvailableDrinks.Count; i++)
        {
            <div class="row">
                <ul>
                    <li>
                        @Model.Menu.AvailableDrinks[i].ToString();

                    </li>
                    <li>
                        Calories:   @Model.Menu.AvailableDrinks[i].Calories;
                    </li>
                    <li>
                        Price:     @Model.Menu.AvailableDrinks[i].Price;
                    </li>
                </ul>
            </div>

        }

        <h2>Drinks</h2>

        @for (int i = 0; i < Model.Menu.AvailableSides.Count; i++)
        {
            <div class="row">
                <ul>
                    <li>
                        @Model.Menu.AvailableSides[i].ToString();

                    </li>
                    <li>
                        Calories:  @Model.Menu.AvailableSides[i].Calories;
                    </li>
                    <li>
                        Price:     @Model.Menu.AvailableSides[i].Price;
                    </li>
                </ul>
            </div>
        }





        <h2>Entrees</h2>


        @for (int i = 0; i < Model.Menu.AvailableEntrees.Count; i++)
        {
            <div class="row">
                <ul>
                    <li>
                        @Model.Menu.AvailableEntrees[i].ToString();

                    </li>
                    <li>
                        Calories:   @Model.Menu.AvailableEntrees[i].Calories;
                    </li>
                    <li>
                        Price:    @Model.Menu.AvailableEntrees[i].Price;
                    </li>
                </ul>
            </div>
        }


        <h2>Sides</h2>

        @for (int i = 0; i < Model.Menu.AvailableDrinks.Count; i++)
        {
            <div class="row">
                <ul>
                    <li>
                        @Model.Menu.AvailableDrinks[i].ToString();

                    </li>
                    <li>
                        Calories:   @Model.Menu.AvailableDrinks[i].Calories;
                    </li>
                    <li>
                        Price:     @Model.Menu.AvailableDrinks[i].Price;
                    </li>
                </ul>
            </div>

        }
   
    <h2>Drinks</h2>
   
        @for (int i = 0; i < Model.Menu.AvailableSides.Count; i++)
        {
            <div class="row">
                <ul>
                    <li>
                        @Model.Menu.AvailableSides[i].ToString();

                    </li>
                    <li>
                        Calories:  @Model.Menu.AvailableSides[i].Calories;
                    </li>
                    <li>
                        Price:     @Model.Menu.AvailableSides[i].Price;
                    </li>
                </ul>
            </div>
        }
    </div>

    <div class="menu-item">
        <div>
            <form method="post">
                <h4>Search</h4>
                <input type="text" name="search" />
                <input type="submit" value="Search" />
                <input type="reset" value="Clear" />

                <h4>menu Category</h4>
                <div class="checkbox-list">
                    <label>
                        <input type="checkbox" name="rating" value="G" />
                        Combo
                    </label>

                    <label>
                        <input type="checkbox" name="rating" value="PG" />
                        Entree
                    </label>

                    <label>
                        <input type="checkbox" name="rating" value="PG-13" />
                        Side
                    </label>

                    <label>
                        <input type="checkbox" name="rating" value="R" />
                        Drink
                    </label>

                    <h4>Price</h4>

                    <label>
                        Min:
                        <input type="number" min="0" max="10" step="0.1" name="minIMDB" />
                    </label>
                    <label>
                        Max
                        <input type="number" min="0" max="10" step="0.1" name="maxIMDB" />
                    </label>

                </div>
            </form>
        </div>

    </div>
</div>